#box{
    background-color: rgb(255, 0, 136);
    color: rgb(21, 221, 51);
}
/* .heading{
    color: red;
} */
h1,h2,h3{
    color: aqua;
}
button{
    background-color: blue;
}
#Heading1{
    text-align: center;
}
p{
    text-align: left;
    text-decoration:green dotted underline;
    font-style: italic;
}
a{
    text-decoration: none;
}